{% extends "layout/layout.html" %}
{% block body %}
                <article class="content dashboard-page">
                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-xs-12 col-sm-12 col-md-12 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs" style="height: 327px;">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title"> Calibration </h4>
                                            <p class="title-description"> Calibration pour le plateau</a> </p>

                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </section>


                </article>
{% endblock %}
