{% extends "layout/layout.html" %}
{% block body %}
                                <article class="content dashboard-page">


                    <div class="subtitle-block">
                        <h3 class="subtitle"> Input Sizing </h3>
                    </div>

                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-xs-12 col-sm-12 col-md-12 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs" style="height: 327px;">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title"> Impression </h4>
                                            <p class="title-description"> Lancer une impression</a> </p>

                                    </div>




                                </div>
                            </div>

                            </div>
                        </div>

                                                            <p class="budget">What is your budget?</p>
                            <label for="range">
                                  <input type="range" name="range" id="range" min="0" max="300" step="1" value="175"/>
                            </label>
                             <output for="range" class="output"></output>
                    </section>




                    <div class="subtitle-block">
                        <h3 class="subtitle"> Input Sizing </h3>
                    </div>

                    <section class="section">
                        <div class="row sameheight-container">
                            <div class="col col-xs-12 col-sm-12 col-md-12 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs" style="height: 327px;">
                                    <div class="card-block">
                                        <div class="title-block">
                                            <h4 class="title"> Impression </h4>
                                            <p class="title-description"> Lancer une impression</a> </p>

                                    </div>




                                </div>
                            </div>

                            </div>
                        </div>

                    </section>

                </article>
{% endblock %}
